@import "primeicons/primeicons.css";



:root {
    --background: white;
    --text-color: #121212;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --text-color: white;
    }
}

body {
    background-color: var(--background);
    color: var(--text-color);
}

.d-flex{
    display: flex;
}

.items-start{
    align-items: baseline !important;
}

.wrap{
    flex-wrap:wrap;
}

.justify-around{
    justify-content: space-around;
}

.justify-end{
    justify-content: flex-end;
}

.d-col{
    flex-direction: column;
}

.pt-2{
    padding-top: 2vh;
}

.pb-1{
    padding-bottom: 1vh;
}