@import "primeicons/primeicons.css";
@import "flex.css";
@import "spacing.css";

:root {
    --background: white;
    --text-color: #121212;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --text-color: white;
    }
}

body {
    background-color: var(--background);
    color: var(--text-color);
}

.z-1{
    z-index: 1;
}

.font-size-20{
    font-size: 20px !important;
}